<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login Page</title>
</head>
<body>
    <div id="container">
        <div id="wrapper-login">
            <header>
                <h1>Login</h1>
            </header><br>
            <main>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <form action='/login' method="POST" id="wrapper-form">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="input">
                    
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="input"><br>
                    
                    <p ><a href="">Lupa password?   </a></p><br>

                    <button type="submit" id="login">Login</button>
                </form>
            </main>
            <footer>
                <p>Belum punya akun?<a href="#">Daftar</a></p>
            </footer>
        </div>
    </div>


    <script src="https://127.0.0.1:5000/static/js/scripts.js"></script>
</body>
</html>